
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .app {
        width: 85vw;
        margin: 2rem auto;
        text-align: center;
      }
      .card {
        columns: 4 14rem;
        gap: 1rem;
      }
      .card img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
        transition: 2% ease-in-out;
      }
      .card img:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      .loading {
        width: 6rem;
        height: 5rem;
      }
      .loading.show {
        opacity: 1;
      }
   